name: CI

on:
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:

  CI:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2
      
      - name: Install checkers and linters
        run: |
          rustup update stable
          rustup default stable
          rustup component add rustfmt
          rustup component add clippy

      - name: Check Formatting
        run: cargo fmt --all -- --check
      
      - name: Check Idiomatic
        run: cargo clippy --all --all-features -- -D warnings

      - name: Build
        run: cargo build --verbose